
{% extends 'simpleTemplate.html.twig' %}
{% block detailsevent %}
<a href="/events/list" class="nav-link">Retour</a>

    <h1>{{ event.titre }}</h1>
    <img src="{{ asset('uploads/brochures/' ~ event.brochureFilename) }}"/>

    <h2>{{  event.lieu}}</h2>
    <h3>{{ event.dateDebut |date('d-m-Y') }} - {{ event.dateFin|date('d-m-Y') }}</h3>
    <p>{{ event.description }}</p>
    <hr>
    {% if is_granted('ROLE_CLIENT') %}
        réserver
{% endif %}
{% endblock %}